<div class='widget-wrap' id='jinrishici'>
  <div class='widget-header cap dis-select'>
    <span class='name'><%- item.title %></span>
  </div>
  <div class='widget-body fs14'>
    <div id="jinrishici_sentence"></div>
    <div id="jinrishici_info" style="text-align: end;"></div>
  </div>
</div>